
<div style="grid-column: 2 / span 22; grid-row-end: span 10; order: 2;">
   <div class="k-layout-item-hint" style="position: absolute; grid-column: 1 / span 3; grid-row-end: span 2; outline: none; order: 0; display: none; height: 103px; width: 148px;"></div>
   <div class="k-tilelayout-item k-card" style="height: 100%; grid-column: 1 / span 3; grid-row-end: span 2; order: 0; touch-action: none;">
      <div class="k-tilelayout-item-header k-card-header">
         <h2 class="k-card-title"><strong>Processors</strong></h2>
      </div>
      <div class="k-tilelayout-item-body k-card-body text-center">
         {{ response|safe }}
      </div>
      <img src="{% static 'deviceIcon.png' %}" height="42" style="position: absolute; top: 15px; right: 15px;">
   </div>
</div>