{% load static %}

<div id="divEnterpriseList">
    <span class="k-dropdownlist k-picker enterpriseDropdown k-picker-md k-rounded-md k-picker-solid" tabindex="0" role="combobox" aria-required="false" aria-haspopup="listbox" aria-expanded="false" aria-owns=":ra:-listbox-id" aria-describedby=":ra:-accessibility-id" id=":ra:" style="width: 300px;">
       <span id=":ra:-accessibility-id" class="k-input-inner"><span class="k-input-value-text">5G Experience Lab</span></span>
       <button tabindex="-1" type="button" aria-label="select" aria-hidden="true" class="k-button k-button-md k-button-solid k-button-solid-base k-icon-button k-input-button">
          <span class="k-icon k-svg-icon k-svg-i-caret-alt-down k-button-icon">
             <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M256 352 128 160h256z"></path>
             </svg>
          </span>
       </button>
       <select tabindex="-1" aria-hidden="true" style="opacity: 0; width: 1px; border: 0px; z-index: -1; position: absolute; left: 50%;">
          <option value="5G Experience Lab"></option>
       </select>
    </span>
</div>